@import "~bootstrap/scss/functions";

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black: #000 !default;


$blue: #007bff !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$insttantt-1: #B51700;
$insttantt-2: #171447;
$insttantt-3: #434343;
$insttantt-4: #B8B6B6;
$insttantt-5: #FFFFFF;

$primary: $insttantt-1 !default;
$secondary: $insttantt-2 !default;
$success: $green !default;
$info: $cyan !default;
$question: $orange !default; 
$warning: $yellow !default;
$danger: $red !default;
$light: $gray-100 !default;
$dark: $gray-800 !default;
$gray: $gray-300 !default;
$default: $insttantt-5 !default;
$light-gray: $insttantt-4 !default;
$dark-gray: $insttantt-3 !default;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "default": $default,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "gray": $gray,
  "light-gray": $light-gray,
  "dark-gray": $dark-gray,
);
$modal-content-bg:                  $white !default;

@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";

@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/list-group";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/toasts";

@import "bootstrap/scss/utilities/api";